<table class="table table-striped table-hover" >
   <tr>
      <td>
         <label for="name">
              <f:translate key="tx_iumultihosts_domain_model_language.name" />
         </label>
      </td>
      <td>
           <f:form.textfield property="name" /><br />
      </td>
   </tr>
   <tr>
      <td>
         <label for="localeall">
              <f:translate key="tx_iumultihosts_domain_model_language.localeall" />
         </label>
      </td>
      <td>
           <f:form.textfield property="localeall" /><br />
      </td>
   </tr>
</table>
